<mat-card class="home-card elevation-card">
  <mat-card-header>
    <div mat-card-avatar class="home-icon-container">
      <mat-icon >dashboard</mat-icon>
    </div>
    <mat-card-title>Bienvenido al Dashboard de QA</mat-card-title>
    <mat-card-subtitle>Gestión centralizada de planes de prueba</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      Este panel te permite visualizar y gestionar todos los <strong>Planes de Pruebas</strong> del sistema:
    </p>

    <div class="plans-grid">
      <mat-chip-listbox>
        <mat-chip selected>Unitarias</mat-chip>
        <mat-chip selected>Funcionales</mat-chip>
        <mat-chip selected>End-to-End</mat-chip>
        <mat-chip selected>Rendimiento</mat-chip>
        <mat-chip selected>Seguridad</mat-chip>
        <mat-chip selected>Carga y Estrés</mat-chip>
      </mat-chip-listbox>
    </div>

    <p class="hint">
      Usa el <strong>menú lateral</strong> para navegar entre las distintas secciones.
    </p>
  </mat-card-content>
</mat-card>
