@use '@angular/material' as mat;
@import "./app/styles/unicauca-theme.css";

html, body {
  height: 100%;
  margin: 0;
}

/*
html, body {
  height: 100%;
  margin: 0;
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font-family: 'Open Sans', "Helvetica Neue", sans-serif;
  font: var(--mat-sys-body-medium);
}
*/

/* En tu styles.css/scss */
:root {
  /* Por defecto (light) */
  --markdown-text-color: #000000;
}

.doc-card markdown {
  color: var(--markdown-text-color) !important;
}
/* ... o directamente a los elementos internos si es necesario */
.doc-card markdown p,
.doc-card markdown li {
  color: var(--markdown-text-color) !important;
}